body{
    text-align: center !important;
    background-color: white !important;
    color: white !important;
   
}
header, .buttons{
    background-color:rgb(47, 47, 121);
    padding: 10px;
}
.container{
    padding: 10px;
    text-align: center !important;  
}
#dog-img img{
    text-align: center;    
    width: 30rem !important;
    height: 30rem !important; 
    
}